body {
  font-family: Arial;
  padding: 2rem;
  background-color: #66ff33;
}

input {
  padding: 0.5rem;
  width: 300px;
}

.result {
  margin-top: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result img {
  max-width: 150px;
  border-radius: 5px;
  display: block;
  margin-bottom: 1rem;
}
